@import '../../../vendor/foundation-sites/scss/foundation.scss';
//TODO: define these colors in a central variable declaration file
$header-background-color: #666666;
$menu-items-color: #FFFFFF;
$menu-items-active-color: #6B828E;

.header {
    background: $header-background-color;
    width: 100%;
    padding-left: 30px;
    @include clearfix;
    &__left-container {
        float: left;
    }
    &__right-container {
        float: right;
    }
    &__menu {
        list-style-type: none;
        margin: 0;
    }
    &__menu-item {
        //TODO: define this font size in a mixin
        font-size: 10px;
        display: table-cell;
        vertical-align: middle;

        &--login {
            width: 160px;
        }
    }
    &__menu-item-link {
        color: $menu-items-color;
        padding: 20px 10px;
        display: block;
        text-align: center;
        line-height: 1em;
        &:hover, &:focus {
            color: $menu-items-color;
        }
        &--active {
            background-color: $menu-items-active-color;
        }
        i {
            margin-right: 10px;
            font-size: 18px;
            vertical-align: text-bottom;
        }
    }
    &__logo {
        height: 55px;
    }
}
